<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>t
        
        <h1>using if-elif-else conditional statement</h1>
        {% if a > b and a > c %}
            <h1>a is highest</h1>
        {% elif b > c and b > a %}
            <h1>b is highest</h1>
        {%  else %}
            <h1>c is highest</h1>
        {% endif %}

    </center>
    
</body>
</html>